/* .popup-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;

    transform: translateX(-50%);
    left: 50%;
} */

.popup-overlay-2 {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.popup-box-2 {
    background: white;
    padding: 2rem 4rem;
    border-radius: 20px;
    /* width: min(500px, 90%); */
    width: 40rem;
    text-align: center;

    animation: popIn 0.3s ease;
}

.popup-box {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    width: min(500px, 90%);
    text-align: center;

    z-index: 10000;
    /* ליתר ביטחון */
}

.circles {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1.8rem 0;
}

.circle {
    width: 10rem;
    height: 9rem;
    border-radius: 50%;
    /* background: #26547E; */
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    /* font-size: 0.9rem; */
    padding: 1vh;
    font-family: "Agam";

    font-size: clamp(0.95rem, 0.9vw + 0.8vh, 1.7rem);
}

.circle-red {
    background-color: #A80000;
}

.circle-blue {
    background-color: #2F46B7;
}

/* .popup-overlay {
    backdrop-filter: blur(6px);
} */

.popup-overlay {
    pointer-events: all;
}

.learning-page2 {
    pointer-events: auto;
}

.popup-overlay-2 {
    backdrop-filter: blur(6px);
}

.info {
    color: #CB4B44;
    font-weight: 500;
}

.popup-title-2 {
    margin: 1%;
}

.popup-box-2-drive {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    width: 30rem;
    text-align: center;

    animation: popIn 0.3s ease;

    border: 2px solid #ffea4763;
    box-shadow: 0px 0px 60px #FFEA47;
}

.img-popup-2-drive {
    width: 10vh;
}

.popup-drive-2-content {
    display: flex;

}

.popup-title-2-drive {
    color: #CB4B44;
}

.popup-drive-2-content-text {
    text-align: right;
}

.popup-box-2-dont {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    width: 40vw;
    text-align: center;

    animation: popIn 0.3s ease;

    border: 2px solid #ffea4763;
    box-shadow: 0px 0px 60px #FFEA47;
}

.donts {
    display: flex;
    /* flex-direction: column; */
    /* padding: 2vw; */
}

.dont {
    background-color: #FFF9CD;
    margin: 1vw;
    padding: 1vw;
    border-radius: 20px;
}

.donts-img {
    width: 15vw;
    border-radius: 20px;
    margin: 0.5vw 0;
}

.popup-title-2-dont {
    font-weight: 500;
}

.popup-title-2-drive b {
    font-weight: 900;
}

.slide-text-popup-dont {
    font-size: clamp(0.95rem, 0.7vw + 0.6vh, 1.2rem);
}

.slide-text-popup-dont-header {
    color: #CB4B44;
    font-weight: 520;
}

.popup-box-2-opendown {
    background: white;
    padding: 2rem 4rem;
    border-radius: 20px;
    /* width: min(500px, 90%); */
    width: 50vw;
    height: 70vh;
    text-align: center;

    animation: popIn 0.3s ease;
    /* display: flex;
    flex-direction: column;
     */
}

.accordion {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: first baseline;
    padding: 2%;
}

.accordion-item {
    color: white;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    width: 10vw;
    /* height: 5vh; */
    cursor: pointer;
    /* transition: left 0.8s cubic-bezier(0.25, 1, 0.5, 1); */
    transition: transform 0.25s ease
}

.accordion-title {
    font-weight: 600;
    font-size: clamp(0.95rem, 0.7vw + 0.6vh, 1.2rem);
}

.accordion-content {
    padding-top: 1vh;
    font-size: clamp(0.90rem, 0.7vw + 0.6vh, 1.2rem);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    opacity: 0;
}

.accordion-item.open .accordion-content {
    max-height: 400px; /* או יותר אם צריך */
    opacity: 1;
}

.popup-box-2-opendown {
    position: relative;
    overflow: hidden;
}

.accordion {
    overflow-y: auto;
    max-height: 35vh;
}

.popup-box-2-opendown {
    position: relative;
}

/* תמונה שמאל למטה */
.img-popup-2-opendown {
    position: absolute;
    bottom: 1.5vh;
    left: 1.5vh;
    width: 8vw;
}

/* כפתור באמצע למטה */
.close-btn-popup {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.close-btn-popup:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.accordion-item {
    transition: transform 0.2s ease;
}

.accordion-item:hover {
    transform: scale(1.05);
}

.close-btn-popup {
    position: absolute;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%) scale(1);
    transition: transform 0.2s ease;
}

.close-btn-popup:hover:not(:disabled) {
    transform: translateX(-50%) scale(1.05);
}

.close-btn-popup:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none; /* 🔥 חשוב */
}

.arrow {
    display: inline-block;
    /* margin-right: 8px; */
    transition: transform 0.3s ease;
    font-size: clamp(0.95rem, 0.7vw + 0.6vh, 1.2rem);
    font-weight: 600;
}

.arrow.open {
    transform: rotate(180deg);
}

.popup-text2-opendown {
    color: #95193D;
    font-family: "Agam";
    font-size: clamp(1rem, 1.1vw + 0.9vh, 2.5rem);
    margin-bottom: 0;
}