.vehicle-slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.vehicle-text {
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
    max-width: 70%;
    font-family: "Agam";
}

.rank-image {
    width: clamp(60px, 8vw, 120px);
    position: absolute;
    top: 20%;
    left: 10%;
}

/* .vehicles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 2vw;
    width: 90%;
    max-width: 900px;
} */

/* .vehicles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 160px));
    justify-content: center;

    gap: clamp(10px, 2vw, 24px);

    width: 100%;
    max-width: 650px;
} */

/* .vehicles-grid {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(120px, 150px));

    justify-content: center;

    gap: clamp(10px, 2vw, 26px);

    width: 100%;
    max-width: 600px;
} */

.vehicles-grid{
display:grid;

grid-template-columns:
repeat(auto-fit,minmax(110px,140px));

justify-content:center;

gap:clamp(12px,2vw,24px);

width:100%;
max-width:550px;
}

.vehicle-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;

    background: white;
    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.vehicle-card img {
    width: 70%;
    max-width: 120px;
}

.vehicle-card p {
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    text-align: center;
    margin-top: 0.5vh;
}