body {
    background-color: #ACD7FF;
    font-family: "Fredoka";
}

.opening-page-header {
    color: #002446;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(2rem, 3vw, 3.5rem);
}

.start-btn-to-topics {
    background-color: #CB4B44;
    font-family: "Agam";
    color: white;
    border: none;
    border-radius: 2vw;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(1.8rem, 1.5vw, 2.8rem);
    padding: 0% 2%;
}

.road-opening-page {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    z-index: 10;
}

.big-cloud-opening-page-left {
    position: absolute;
    width: 16%;
    left: 8%;
    top: 4%;
}

.big-cloud-opening-page-right {
    position: absolute;
    width: 16%;
    right: 8%;
    top: 4%;
}

.small-cloud-opening-page-left {
    position: absolute;
    width: 12%;
    left: 2%;
    top: 35%;
}

.small-cloud-opening-page-right {
    position: absolute;
    width: 12%;
    right: 2%;
    top: 35%;
}

.till-logo-black-opening-page {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 7%;
    height: auto;
}

.lighting-pole-opening-page-left {
    width: 8%;
    height: auto;
    z-index: 10;
    position: absolute;
    bottom: 21.5%;
    left: 6%;
}

.lighting-pole-opening-page-right {
    width: 8%;
    height: auto;
    z-index: 10;
    position: absolute;
    bottom: 21.5%;
    right: 6%;
}

.car-opening-page {
    position: absolute;
    width: 30%;
    height: auto;
    z-index: 11;
    bottom: 4%;
}

.logo-bahad13-opening-page {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 7.5%;
}

.bush-left-opening-page {
    position: absolute;
    left: 0%;
    bottom: 15%;
    z-index: 1;
    width: 13.5%;
    height: auto;
}

.bush-right-opening-page {
    position: absolute;
    right: 0%;
    bottom: 15%;
    z-index: 1;
    width: 13.5%;
    height: auto;
}